* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Inter-Thin;
    src: url("../fonts/Inter-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: Inter-Regular;
    src: url("../fonts/Inter-Regular.ttf");
    font-display: swap;
}

body {
    /*background: url("../media/zel.png") center center;*/
    background-color: black;
    font-family: Inter-Thin;
}

.header {
    background-color: black;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.header img {
    width: 100%;
}

.headLine {
    position: relative;
    width: 42%;
    height: 0px;
    left: 28%;
    top: 0;
    border: 1px solid rgb(255 252 252 / 5%);
    background: rgb(255 252 252 / 27%);
}

.headPhoto {
    width: 100%;
    height: 372.11px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(146.7deg);
}

.backG {
    position: absolute;
    display: flex;
    width:100%;
    height: 100%;
    left: 0px;
    top: 209px;
    background: url("../media/back.png");
}

.title {
    color: white;
    text-align: center;
    margin-top: 30px;
}

.title span, title p {
    font-weight: 100;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.aftTitle {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 10px;
}


.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    padding-top: 20px;
}

.navigationItem {
    width: 70%;
    height: 109px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 24px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Inter-Regular;
    color: #FFFFFF;
}

.navigationItem p {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.contacts {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
    align-content: center;
}

.contactsLine {
    display: block;
    width: 78%;
    height: 0px;    
    border: 2px solid #8F8282;
    filter: blur(4px);
}

.icon {
    width: 60px;
    height: 60px;
}

.footer, .infoFoter {
    position: relative;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 50px;
    left: 0;
    font-size: small;
    z-index: 40;
}

.footer a, .catalogFooter a, .infoFoter a{
    text-decoration: none;
    color: #cdcbcb;
    padding: 2px;
}

.footer a:hover {
    color: #5f5e5e;
}

.catalog, .info {
    background: black;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
}

.catalogLine {
    position: relative;
    width: 44%;
    height: 0px;
    left: 28%;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    filter: blur(1px);
}

.productArea {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.productImage {
    flex-shrink: 0;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    min-width: 0;
    width: 88%;
    max-height: 375px;
    border-radius: 20px;
}

.productHeader, .extrainf {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;
}

.producTitle {
    margin: 0 0 0px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-grow: 1;
    line-height: 1;
    color: rgb(255, 255, 255);
    font-stretch: expanded;
    font-family: Inter-Regular, sans-serif;
}


.productDescription {
    position: relative;
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 16px;
    align-self: start;
    width: 100%;
}

.productEnergy {
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    color: #676767;
    overflow: hidden;
    flex-grow: 1;
}

.productPrice {
    font-weight: 400;
    font-size: 20px;
    padding-right: 30px;
    align-items: baseline;
    color: rgb(255, 255, 255);
    font-family: Inter-Regular;
    flex-shrink: 0;
}

.productFooterLong {
    text-align: end;
}

.catalogFooter {
    width: 100%;
    height: 353px;
}

.catalogFooter img {
    position: absolute;
    width: 100%;
    height: 353px;
    z-index: 10;
}

.catalogFooter-ad {
    position: relative;
    z-index: 12;
    color: #FFFFFF;
    text-align: center;
    top: 80%;
}

.infoBlockOne{
    position: relative;
    width: 87%;
    height: 73px;
    left: 6%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #42FF00;
    margin-bottom: 28px;
    z-index: 30;
}

.infoBlockTwo {
    position: relative;
    width: 94%;
    height: 142px;
    left: 3%;


    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #42FF00;
    margin-bottom: 28px;
    z-index: 30;
    margin-bottom: 30px;
}



.infoBlockThree, .infoBlockFour {
    position: relative;
    width: 88%;
    left: 6%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    z-index: 30;
    margin-bottom: 30px;
}

.infoBlockThree h3, .infoBlockFour h3 {
    margin-bottom: 15px;
}

.infoBlockFour {
    text-align: center;
    margin-top: 30px;
    z-index: 30;
    height: auto;
}

.infoBlockFour li {
    margin-bottom: 15px;
}

.infoBlockFour li::marker {
    text-align: end !important;
    text-align-last: end !important;
}

.infoBlockFourBg {
    position: absolute;
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;

    background: url("../media/infoBg.png");
    z-index: 20;
}

.b-popup {
    width:100%;
    min-height:100%;
    background-color: rgb(17 16 16 / 92%);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index: 200;
    left: -1px;
    text-align: center;
}
.b-popup .b-popup-content{
    margin: 30% auto 0px auto;
    width: 82%;
    padding:20px;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
}

.b-popup a {
    text-decoration: none;
    font-family: Inter-Regular;
    color: gray;
    font-weight: 600;
}
.b-popup p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#catalog {
    display: none;
}

#info {
    display: none;
}

#pop {
    display: none;
}

@media only screen and (max-width: 378px) {
    .producTitle, .productPrice {
        font-size: 18px;
    }
    .productDescription {
        font-size: 14px;
    }
    .navigationItem p {
        font-size: 35px;
    }
}

